/* SCSS for blocks
----------------------------- */

.group-block-fix {
  width: 90%;
  margin: 0 auto;
 .wp-block-media-text__content {
	padding: 0 3% !important;
  }
  .wp-block-media-text__content {
	p {
	  width: 100% !important;
	}
  }
}

.wp-block-table {
  table {
	border: none;
	tbody {
	  tr {
		td {
		  border: none;
		}
	  }
	}
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .wp-block-table {
	table {
	  border: none;
	  tbody {
		border: none;
		margin: 0;
		padding: 0;
		tr {
		  margin: 0;
		  padding: 0;
		  td {
			width: 25%;
			border: none;
			float: left;
			img {
			  margin: 0 auto;
			  display: block;
			}
		  }
		}
	  }
	}
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .wp-block-table {
	table {
	  border: none;
	  tbody {
		border: none;
		margin: 0;
		padding: 0;
		tr {
		  margin: 0;
		  padding: 0;
		  td {
			width: 100%;
			border: none;
			float: left;
			img {
			  margin: 0 auto;
			  display: block;
			}
		  }
		}
	  }
	}
  }
}
