#gform_submit_button_3{
  background-color: #343638;
  height: 70px;
  width: 100px;
  border: none;
  color: white;
}

.paragraph-headings {
  color: #2F56A6;
  font-size: 18pt;
  margin-top: 25px;
}

/*  partner logo hover scale*/
.grow {
  transition: all .4s ease-in-out;
}

.grow:hover {
  transform: scale(1.4);
}


/*  private page */

.admin-access  {
  padding-top: 100px;
}

/* 2020 gala event top padding */

#tribe-events-content {
  margin-top: 100px;
}

/* Economic Empowerment Title */
.h2-line {
  text-align:left !important;
  width: 100%;
}

.wide-on-desktop  .wp-block-cover__inner-container .h2-line {
  width: 100%;
}

/* Chiarman's msg Photo on mobile */

@media (max-width: 991.98px) {
  .alignright.size-medium.is-resized {
	float: none !important;
	margin: 0 auto;
  }
  article .entry-content h2 {
	text-align:left;
  }
}

/* Footer menu mobile styling */

@media (max-width: 576px) {
  #menu-secondary.nav li:nth-child(n+1) {
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: left;
  }
  #menu-secondary.nav li:nth-child(n+1) a     {
	padding-left: 0;
  }
  .wellington-sig a{
	display: block;
	font-size: 1.2em;
	width: 100%;
  }

  #genesis-footer-widgets {
	padding: 10px 10px 10px 2.2em;
  }
  .widget-title.widgettitle {
	margin-top: 50px;
	margin-bottom: 10px;
  }
}

/*  Post feed mobile styling*/

@media (max-width: 750px) {
  #fp-news.news-fp .news-excerpt {
	margin: 0px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: black;

  }

  .news-excerpt .featured-image {
	height: 350px;
	width: 100%;
	margin: 0 auto;
  }

  .news-excerpt a{
	color: white !important;
	text-align: center !important;
  }
}

/*  uniform form buttons*/
#gform_submit_button_6, #gform_submit_button_8, #gform_submit_button_2 {
  background-color: black;
  color: white;
  height: 70px;
  width: 100px;
}

/* testimonial slider styling */

.testimonial-img img{
  padding: 5%;
}

.testimonial-description-theme1  {
  padding-top: 30px;
  padding-left: 7%;
  padding-right: 7%;
  line-height: 33px !important;
}

.testimonial-description-profiles-theme1 {
  padding-left: 7%;
  padding-right: 7%;
  line-height: 30px;
}

.owl-item {
  display: flex;
  min-height: 400px;
  justify-content: center;
  align-items: center;
}

/** Added Feb 1, 2021 CJP
=================================== **/

@media(min-width:1200px) {
  main.content {
	width:80%;
	margin: 0 auto;
	max-width: 1500px;
  }
}
.display-none {
  display: none;
}
label[for="give-funds-select"] {
  font-size: 25px;
}
@media (min-width: 1200px) {
  #give-form-25044-1 {
	width: 70%;
	margin: 0 auto;
  }
}

#give-form-24044-wrap {
  margin: 0 auto;
  width: 70%;
  padding: 100px;

  border-radius: 1px;
  line-height: 40px;

}

#give-form-24044-wrap label {
  font-size: 25px !important;
}

#give-form-24044-wrap legend{
  font-size: 25px !important;
  color: black;
}


#give-donation-level-button-wrap li button {
  min-width: 150px;
  border: 2px solid lightgrey !important;
  background-color: white !important;
  color: #2653af  !important;
  font-size: 24px !important;
}

.give-currency-position-before {
  text-align: center;
  font-size: 25px !important;
  padding-top: 5px !important;
  min-height: 45px;
  min-width: 50px !important;
  border-radius: 2px !important;
  margin: 1px !important;

}
#give-amount {
  min-height: 44.5px;
  color: #2653af  !important;
  font-size: 24px !important;
  border: 2px solid #2653af  !important;
  text-align: center;
  background-color: #2653af !important;
  color: white !important;
  border-radius: 2px !important;
  margin: 1px !important;
}

.give-btn-reveal {
  text-align: center;
  font-size: 20px !important;
  padding-top: 5px !important;
  min-height: 45px;
  min-width: 50px !important;
  border-radius: 2px !important;
  margin: 1px !important;
}
.give-select, .give-recurring-donors-choice-period, #give-purchase-button  {
  color: white  !important;
  background-color: #2653af !important;
  border-radius: 2px;
}

textarea {
  min-height: 50px;
  border: 2px solid lightgrey !important;
  color: #2653af  !important;
}

/*  Members page general members alignment */

.general-members-container {
  margin: 0 auto;
  width: 800px;
}
.general-members em {
  padding-left: 65px;
  min-width: 500px;
}

.general-members li {
  padding-left: 40px;
  font-size: 18px;
}

#menu-item-24771 {
  border: 10px solid #2653af  !important;
  background-color: #2653af
}


/*  History page founding members alignment*/


.our-history-founding-members {
  min-width: 350px;
}
.our-history-founding-members h4{
  min-width: 400px;
  margin-left: -20px;
}

/*Chamaine's CSS for Members Page*/

@media ( min-width: 992px ) {
  .w-70 {
	width: 70%;
	max-width: 1500px;
	margin: 0 auto;
  }
}

/*  New donations page media */
@media ( max-width: 992px ) {
  #give-form-24044-wrap {
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	border-radius: 1px;
	font-size: 14px !important;
	line-height: 30px;
  }

  #give-form-24044-wrap label{
	border-radius: 1px;
	font-size: 18px !important;
	line-height: 30px;
  }
  .give-btn-reveal,  #give-purchase-button, #give-amount, textarea {
	font-size: 20px !important;
  }
  #give-donation-level-button-wrap li button {
	font-size: 20px !important;
  }
  #give-form-24044-wrap label {
	font-size: 20px !important;
  }
  .give-select, .give-recurring-donors-choice-period {
	font-size: 14px !important;
  }
  /* 	#give-amount {
		  margin: 0px !important;
		  font-size: 25px !important;
	  }
	  .give-currency-position-before {
  margin: 0px !important;
  } */
}
