.div.wrap.container-fluid
{
  width: 1000px;
}

/*Get Involved*/
.mb-4 {
  font-size: 28px;
}
/*  History Youtube Embed */
.wp-block-embed__wrapper {
  margin: 0 auto;
  width: 600px;
}
/*  History Bullets */
.narrow-content bullets {
  width: 200px
}

/*  Footer Link Colors*/
#custom_html-14 {
  text-decoration: none;
}
