/** Adjustments for all templates. Common scss for all templates
------------------------------------------------------------------------- */

.full-width.has-background {
  margin-left: -15px;
  margin-right: -15px;
}
.w-70 {
  width: 70%;
  max-width: 2000px;
  margin: 0 auto;
  .container-fluid {
	h3 {
	  width: 100% !important;
	}
	.row {
	  div {
		p {
		  padding: 0;
		  margin: 0;
		  width: 100%;
		}
		ul {
		  width: 100%;
		}
	  }
	}
  }
}


.image-fluid {
  width: 100%;
  display: block;
}

.narrow-content {
  .entry-content {
	.container-fluid {

	}
  }
}

.members-officers-board {
  .site-container {
	.site-inner {
	  .wrap {
		.content-sidebar-wrap {
		  margin-top: 4em;
		  .content {
			.narrow-content {
			  .entry-content {
				.wp-block-columns {
				  .wp-block-column {
					ul li a {
					  color: $black;
					}
					ul li a strong {
					  font-weight: normal;
					}
					ul li strong {
					  font-weight: normal;
					}
				  }
				}
			  }
			}
		  }
		}
	  }
	}
  }
}

/* Add .narrow-content added to post class to render a narrower page content */
@media (min-width: 768px) {

  /* Targets only the /members page */
  .members-officers-board {

	.site-container {

	  .site-inner {

		.wrap {

		  .content-sidebar-wrap {

			margin-top: 4em;

			.content {

			  .narrow-content {

				.entry-content {

				  h2 {
					width: 50%
				  }

				  .wp-block-group {
					width: 70%;
				  }

				  .wp-block-columns {

					width: 70%;
					max-width: 2000px;
					margin: 2em auto;

					.wp-block-column {

					  ul {
						width: 100%;
					  }

					  ul li a {
						color: $black;
					  }

					  ul li a strong {
						font-weight: normal;
					  }

					  ul li strong {
						font-weight: normal;
					  }

					}

					.wp-block-image {
					  width: 100%;
					}

				  }
				}
			  }
			}
		  }
		}
	  }
	}
  }

  /* scss for .narrow-content used in many pages to accomplish a narrower rendering of article content */
  .narrow-content {

	.entry-content {

	  .gform_wrapper {
		form {
		  .gform_body ul {
			width: 100%;
		  }
		}
	  }

	  .wp-block-table {
		width: 70%;
		max-width: 2000px;
		margin: 0 auto;
	  }

	  p, h2, h3, ul {
		width: 70%;
		max-width: 2000px;
		margin: 0 auto;
	  }

	  .wp-block-embed-youtube {
		width: 70%;
		max-width: 2000px;
		margin: 0 auto;
	  }

	  .wp-block-image {
		width: 70%;
		max-width: 2000px;
		margin: 0 auto;
	  }

	  .wp-block-columns {
		width: 70%;
		max-width: 2000px;
		margin: 0 auto;

		.wp-block-column {
		  p {
			width: 100%;
		  }

		}
	  }

	  .gform_wrapper {
		width: 70%;
		max-width: 2000px;
		margin: 0 auto;
	  }

	}
  }

  /* Adds .empowerment-content to the empowerment templat. This is a specific class just for that template */
  .empowerment-content {
	.wp-block-table {
	  width: 70%;
	  max-width: 2000px;
	  margin: 0 auto;
	}

	p, h2, h3 {
	  width: 70%;
	  max-width: 2000px;
	  margin: 0 auto;
	}

	.wp-block-embed-youtube {
	  width: 70%;
	  max-width: 2000px;
	  margin: 0 auto;
	}

	.wp-block-image {
	  width: 70%;
	  max-width: 2000px;
	  margin: 0 auto;
	}
	.wp-block-columns {
	  width: 70%;
	  max-width: 2000px;
	  margin: 0 auto;

	  .wp-block-column {

		p {
		  width: 100%;
		}

	  }
	}

	.gform_wrapper {
	  width: 70%;
	  max-width: 2000px;
	  margin: 0 auto;
	}

  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

  .empowerment-content {
	.wp-block-table {
	  margin: 0 auto;
	}

	p, h2, h3 {
	  width: 88%;
	  margin: 0 auto;
	}

	.wp-block-embed-youtube {
	  width: 88%;
	  margin: 0 auto;
	}

	.wp-block-image {
	  width: 88%;
	  margin: 0 auto;
	}
	.wp-block-columns {

	  width: 88%;
	  margin: 0 auto;

	  .wp-block-column {

		p {
		  width: 100%;
		}

	  }
	}

	.gform_wrapper {
	  width: 88%;
	  margin: 0 auto;
	}
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .empowerment-content {
	.wp-block-table {
	  width: 98%;
	  margin: 0 auto;
	}
  }
  .w-70 {
	width: 100%;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

@media (min-width: 1200px) {
  .our-history-founding-members {
	width: 70% !important;
	margin: 0 auto !important;
  }
  .w-70 {
	.container-fluid {
	  .row {
		.col-lg-6 {
		  h4 {
			text-align: center;
		  }
		}
	  }
	}
  }
}
