/* Widget Styling
------------------------------------------------------------ */

// default widget styles
.widget {
    table {
        @extend .table;
    }
}

.widget_search {
    .search-query {
        margin-bottom: $spacer;
    }
}

// includes ID in selector for specificity
.widget_calendar #wp-calendar {
    th, td {
        padding: 0;
    }
}

/** Recent Posts  */
.widget_recent_entries {
	li {
		margin-bottom: $spacer;
		a {
			color: inherit;
			font-family: $headings-font-family;
            font-weight: $headings-font-weight;
			&:hover {
				color: $link-color;
			}
		}
		span {
			color: $text-muted;
			display: block;
			font-family: $font-family-sans-serif;
			font-size: 12px;
		}
	}
}

/** Recent Comments **/
.widget_recent_comments {
	ul {
		li {
			a {
				color: inherit;
				&:hover {
					color: $link-color;
				}
			}
		}
	}
}

/** Category Widget **/
.widget_categories, .widget_archive {
	form {
		padding: $list-group-item-padding-y $list-group-item-padding-x;
	}
	select {
		@extend .form-control;
	}
	ul, ol {
		@extend .list-unstyled;
		ul,ol {
			margin-left: $spacer;
		}
		li {
			a {
				color: inherit;
				&:hover {
					color: $link-color;
				}
			}
			span {
				float: right;
			}
		}
	}
}

/** Tag Cloud Widget */
.widget_tag_cloud {
	.tagcloud {
		font-size: 0;
		a {
			@include button-variant($blue, $blue, $blue);
			font-size: 12px !important;
			margin-right: 4px;
			margin-bottom: 4px;
			.sidebar & {
				@extend .btn-primary;
			}
		}
	}
}

/** Genesis Featured Post **/
.featuredpost {
	.entry {
		padding: 0;
		margin: 0;
		border-bottom: 0;
		.entry-header {
			margin-bottom: 5px;
			.entry-title {
				font-size: 16px;
			}
		}
	}
}

/** Calendar Widget
----------------------------------------------------------------------------- */
.widget_calendar {
	table {
		@extend .table;
		@extend .table-responsive;
		@extend .table-striped;
		caption {
			text-align: center;
			text-transform: uppercase;
		}
	}
}

/** ## Navigation Widget
----------------------------------------------------------------------------- */
.widget_nav_menu {
	ul {
		li {
			a {
				color: inherit;
			}
		}
	}
}

/** Widget #1
================================ */
.front-page-one-button h5,
.front-page-two-button h5 {
  font-size: 2rem;
  margin: 0;
}
.frontpage-two .container {
  max-width: 1540px !important;
}
.frontpage-one .container,
.frontpage-two .container {
  display: flex;
  align-items: center;
  margin: 2.618rem auto;

  h4.widget-title {
	font-size: 3rem;
  }
  section {
	margin: auto 2.618em;
	flex-basis: 100%;
  }
}
.join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.5px;
  background-color: $yellow;
  h3 {
	font-size: 2rem;
	background-color: $gray;
	width: 40%;
	margin: 2em auto 1em;
	padding: .5em 0;
	color: $white;
	height: 72px;
  }
  .btn {
	width: 40%;
  }
}

/** Widget #3
----------------------------------------------------------------------------- */

  .frontpage-three {
	margin: 1.618em auto;
	width: $fullwidth;
	padding: 0 1.618em;
  }



/** News Title
----------------------------------------------------------------------------- */

#news-title {

  h2.display-2 {
	margin: 0;
  }

}

/** Front Page Widgets
================================ */

.frontpage-one,
.frontpage-two {
  width: $fullwidth;
  margin: $marginTopx1 0 $marginBottomx1 0;
  padding: 0 1.618em;
}

.frontpage-four {
  width: 99.3%;
  margin: 0 0 0em 0;
  padding: 0 1.618em 1em;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(white, #015BA9);
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.frontpage-two {
	  .container {
		section {
		  padding: 0 0;
		  margin: auto 0;
		}
	  }
	}
  .frontpage-two,
  .frontpage-one {
	.container {
	  display: initial;
	}
  }
  .join-us-image.col-md-6 {

	padding: 0;
	margin-top: 1.618em;

  }
  .frontpage-four {
	width: 100%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .frontpage-two,
  .frontpage-one {
	.container {
	  display: initial;
	  section img {
		margin: 0 auto;
		display: block;
	  }
	  section .textwidget img {
		padding: $em1 0 0 0;
	  }
	}
  }



  .frontpage-one .container,
  .frontpage-two .container {
	section {
	  margin: auto;
	}
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
